<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>dev.supercompress.welcome-drain</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python3</string>
      <string>/Users/arjunkshah21/Library/Application Support/supercompress/scripts/drain_welcome_emails.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/arjunkshah21/Library/Application Support/supercompress</string>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/arjunkshah21/Library/Application Support/supercompress/welcome-drain.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/arjunkshah21/Library/Application Support/supercompress/welcome-drain.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
      <key>WELCOME_API_BASE</key>
      <string>https://supercompress.dev</string>
    </dict>
  </dict>
</plist>
